Action1	使用Wide&Deep模型对movielens进行评分预测

In [2]:
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder

In [4]:
from deepctr.models import WDL

In [6]:
from deepctr.feature_column import SparseFeat,get_feature_names

In [7]:
data = pd.read_csv("movielens_sample.txt")

In [10]:
data.head()

,user_id,movie_id,rating,timestamp,title,genres,gender,age,occupation,zip
0,107,12,4,968035345,Ed Wood (1994),Comedy|Drama,0,2,4,35
1,123,169,3,966536874,Patriot Games (1992),Action|Thriller,1,1,4,118
2,12,6,4,976203603,"Bridges of Madison County, The (1995)",Drama|Romance,0,2,13,99
3,21,112,3,975430389,Indiana Jones and the Temple of Doom (1984),Action|Adventure,1,1,18,55
4,187,45,5,957782527,"Apartment, The (1960)",Comedy|Drama,1,5,19,41

In [8]:
sparse_features = ["movie_id", "user_id", "gender", "age", "occupation", "zip"]
target = ['rating']

In [9]:
# 对特征标签进行编码
for feature in sparse_features:
    lbe = LabelEncoder()
    data[feature] = lbe.fit_transform(data[feature])

In [12]:
# 计算每个特征中的 不同特征值的个数
fixlen_feature_columns = [SparseFeat(feature, data[feature].nunique()) for feature in sparse_features]

WARNING:tensorflow:From /opt/conda/lib/python3.7/site-packages/tensorflow/python/keras/initializers.py:143: calling RandomNormal.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [13]:
fixlen_feature_columns

[SparseFeat(name='movie_id', vocabulary_size=187, embedding_dim=4, use_hash=False, dtype='int32', embeddings_initializer=<tensorflow.python.keras.initializers.RandomNormal object at 0x7f8c175b19d0>, embedding_name='movie_id', group_name='default_group', trainable=True),
 SparseFeat(name='user_id', vocabulary_size=193, embedding_dim=4, use_hash=False, dtype='int32', embeddings_initializer=<tensorflow.python.keras.initializers.RandomNormal object at 0x7f8c8419c4d0>, embedding_name='user_id', group_name='default_group', trainable=True),
 SparseFeat(name='gender', vocabulary_size=2, embedding_dim=4, use_hash=False, dtype='int32', embeddings_initializer=<tensorflow.python.keras.initializers.RandomNormal object at 0x7f8c841a8690>, embedding_name='gender', group_name='default_group', trainable=True),
 SparseFeat(name='age', vocabulary_size=7, embedding_dim=4, use_hash=False, dtype='int32', embeddings_initializer=<tensorflow.python.keras.initializers.RandomNormal object at 0x7f8c175b1fd0>, embedding_name='age', group_name='default_group', trainable=True),
 SparseFeat(name='occupation', vocabulary_size=20, embedding_dim=4, use_hash=False, dtype='int32', embeddings_initializer=<tensorflow.python.keras.initializers.RandomNormal object at 0x7f8c175b1e50>, embedding_name='occupation', group_name='default_group', trainable=True),
 SparseFeat(name='zip', vocabulary_size=188, embedding_dim=4, use_hash=False, dtype='int32', embeddings_initializer=<tensorflow.python.keras.initializers.RandomNormal object at 0x7f8c175b1f90>, embedding_name='zip', group_name='default_group', trainable=True)]

In [15]:
linear_feature_columns = fixlen_feature_columns
dnn_feature_columns = fixlen_feature_columns

In [16]:
feature_names = get_feature_names(linear_feature_columns + dnn_feature_columns)

In [17]:
# 将数据集切分成训练集和测试集
train, test = train_test_split(data, test_size=0.2)
train_model_input = {name:train[name].values for name in feature_names}
test_model_input = {name:test[name].values for name in feature_names}

In [25]:
train_model_input

{'movie_id': array([173,  68, 158,  93, 162,  25,   3,  66,  70, 144, 113,  15,  85,
        157, 186, 123, 112, 130,   9, 180, 100,   2, 154,  11,  84,  97,
        161,  21,  49,  41,  13, 108,  69,  94, 132, 136, 181,  83, 173,
         99,  23,  17,  30,  27,  86,  72,  34,  35, 121,  32, 183,  55,
        120,  96,  59,  50, 163, 123,  77,  28,  57, 153,  51, 149, 164,
         90,  72, 184,  26,  80,  79,  52, 111, 128,  48,  62,  64,  60,
         43,  87, 182,  40,  78, 140,  46, 169,  18, 125, 103,  20, 142,
        147, 102,  27,  19, 160, 143,  63, 118, 106,  16, 148,  29,  10,
          4,  73, 166, 156, 178,  89,  45, 150,   5, 174,  91, 109,   0,
        133,  47, 159,  67,  39, 117, 149,   6, 176, 172, 171, 168, 137,
         42,  82,  12,  44,  95,  38,  22, 119, 115, 126,  24,  74,  14,
        138,  54, 169,   8, 101, 170,  92,  33,  36, 116, 114,   7,  34,
         76, 105, 177,  71]),
 'user_id': array([ 10, 161,  49,  40,  44,   9,  71, 183,  72,  64, 188, 181,  84,
         38,  67,  41, 182, 146, 184, 145,  73,  14,  92,  13, 104, 173,
         89,  96,  76,  34,  15,   1, 111, 177, 125,  66, 167,  52,   7,
         56,  93, 165, 134, 189,  25,  86, 172, 133,  62, 126,  99, 152,
         47, 138, 169, 173, 141, 147,  63, 139,  30, 127,  79, 109, 135,
         60,  90,  61, 179, 171,  57,   6, 160,  49,  74, 155, 119,  98,
        102,  44, 106,  78, 129, 113,  81, 110, 158,   4,  18,  20,   5,
        117,  48,  39,  27, 132, 114, 151,  42,  80,  51,  82, 108, 170,
        130, 166, 136,  24,  32, 131, 187,  29, 120,  68,  77, 191,  26,
        116, 149, 164,  69,   3, 176, 142,  12,  46, 168, 122, 192, 175,
         16,  97, 107,  22,  70,  19, 190,  87, 128,  94,  43, 101,  23,
         55,  33, 123, 150, 143,  11, 162,  91,  58, 144, 148, 185, 157,
         31, 121, 115,  17]),
 'gender': array([1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1,
        0, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
        1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0,
        1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1,
        1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0,
        0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0,
        1, 1, 0, 0, 1, 1]),
 'age': array([3, 6, 2, 3, 3, 2, 6, 1, 3, 2, 2, 2, 0, 3, 2, 2, 2, 6, 2, 3, 6, 3,
        5, 2, 2, 1, 2, 2, 5, 2, 5, 6, 3, 2, 2, 5, 1, 2, 2, 2, 3, 2, 2, 0,
        2, 5, 6, 2, 3, 4, 1, 3, 2, 3, 1, 1, 5, 5, 2, 5, 3, 0, 5, 2, 2, 1,
        3, 2, 6, 2, 5, 5, 5, 2, 1, 6, 2, 3, 0, 3, 2, 1, 5, 4, 4, 3, 3, 1,
        2, 0, 2, 3, 2, 1, 5, 2, 3, 2, 2, 2, 5, 4, 1, 2, 2, 2, 2, 5, 1, 1,
        5, 2, 4, 5, 1, 2, 1, 4, 2, 5, 4, 1, 4, 2, 2, 2, 3, 6, 2, 4, 1, 3,
        2, 0, 4, 1, 1, 2, 3, 1, 2, 2, 2, 3, 1, 1, 6, 5, 2, 3, 1, 1, 2, 2,
        2, 1, 4, 1, 1, 6]),
 'occupation': array([ 7,  2,  0,  4, 14, 11, 12, 14, 16,  0,  7,  0,  9,  2,  7, 18, 10,
         1,  2, 16, 12, 19, 19,  0, 17, 11, 13,  0, 15,  3, 16,  1, 19, 16,
         4, 15, 13, 11,  2, 19,  0,  8, 16,  9,  0,  1,  0,  0,  5,  7,  0,
         5,  7, 15,  9, 11, 11,  6, 18,  7,  3,  9, 11, 11, 14,  4, 10,  0,
        15, 11,  6, 14, 13,  0,  4,  1,  0, 11,  1, 14, 19,  0,  6,  1,  6,
         7, 16, 13,  0,  9, 11,  2, 11,  1,  0, 19,  0,  2, 13,  0,  7,  1,
         4, 15,  7,  7,  0,  1,  4, 11, 19,  0,  0, 10,  4, 14, 13,  7,  4,
        11, 13,  1,  1,  0, 13, 11,  1, 16,  6,  7,  4, 19,  4, 18, 19,  4,
         5,  3,  6,  0,  7,  3, 15, 11,  4,  4,  7,  0, 15,  4, 16,  4,  4,
         1,  0,  4,  8, 14,  4, 16]),
 'zip': array([ 18, 160, 104, 179,  44,  96, 163, 153, 157,  19,  11, 106,  82,
         36, 151, 156,   6,  76, 115,  39,   9,  23,  54,  68,  47, 134,
         38,  22,  15, 124,  64,  86,  59,   2, 112, 143,  20, 123, 140,
         37,  10, 150,  84,  46, 136,  69, 119, 127,  25,  56, 108, 172,
        133,  75, 110, 134,  63,  81,  29,  71,  27,  12, 125, 120, 126,
        118,  80,  78,  61, 161,  60,  95,  98, 104, 101,  71, 183, 171,
        137,  44,   5,  94,  30,  33,   4, 116, 129,  83,  67,  72, 139,
        107, 147, 158, 182, 138, 183, 176,  66,  77,  53, 105, 130,  58,
        102, 103,  42,  45, 132, 113,  41,  21, 121, 144,  31,  62, 117,
         57, 186, 167, 165,  24, 145,  73,  99,  48, 114,  49,  26,   3,
        149, 178,  35,  89, 148, 180, 175,  87,  91,  88,  40,  92,  74,
        170, 168, 118,  70,   1,  93, 174,  90,   0,  79, 141, 146, 109,
        169,   7, 122,  65])}

In [18]:
# 使用WDL进行训练
model = WDL(linear_feature_columns, dnn_feature_columns, task='regression')
model.compile("adam", "mse", metrics=['mse'], )
history = model.fit(train_model_input, train[target].values, batch_size=256, epochs=1, verbose=True, validation_split=0.2, )

/opt/conda/lib/python3.7/site-packages/tensorflow/python/framework/indexed_slices.py:434: UserWarning: Converting sparse IndexedSlices to a dense Tensor of unknown shape. This may consume a large amount of memory.
  "Converting sparse IndexedSlices to a dense Tensor of unknown shape. "

1/1 [==============================] - 2s 2s/step - loss: 14.5233 - mse: 14.5233 - val_loss: 12.7351 - val_mse: 12.7351

In [19]:
# 使用WDL进行预测
pred_ans = model.predict(test_model_input, batch_size=256)
# 输出RMSE或MSE
mse = round(mean_squared_error(test[target].values, pred_ans), 4)
rmse = mse ** 0.5
print("test RMSE", rmse)

test RMSE 3.7192875661879117